*,
html {
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header {   
    padding: 0;
    height: 100px;
    /* margin-bottom: -6px; */
}

.logo-home {
    padding: 14px 16px;

}

.background-img {
    width: 100%;
    height: 100px;
}

.container {
    padding-top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.a-navbar{

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container div.nav-container:hover{
    transition: 0.2s ease-in;
    border-radius: 20px;
    background-color: #37a959;
    color: black;
}

.container input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
}

